@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* @keyframes float {
  0%,100%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-12px);
  }
}

@keyframes float2 {
  0%,100%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(12px);
  }
}

.animate-float{
  animation:float 5s ease-in-out infinite;
}

.animate-float2{
  animation:float2 6s ease-in-out infinite;
} */

@keyframes float{
    0%,100%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-10px);
    }
}

.animate-float{
    animation:float 5s ease-in-out infinite;
}

* {
  font-family: 'Plus Jakarta Sans'
}


.orbit-icon {
  width: 78px;
  height: 78px;
  border-radius: 9999px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 12px #d8b4fe,
    0 0 25px #c084fc,
    0 0 40px rgba(192, 132, 252, .6);
}


.hero {
  background:
    radial-gradient(
      ellipse 70% 35% at 50% 0%,
      rgba(0,255,170,.45),
      transparent 70%
    ),

    radial-gradient(
      ellipse 70% 35% at 50% 100%,
      rgba(0,255,170,.35),
      transparent 70%
    ),

    linear-gradient(
      180deg,
      #07110f 0%,
      #05070d 25%,
      #05070d 75%,
      #07110f 100%
    );
}